
<style>

    .form-field{
        margin:20px 0px;
    }
</style>
<div>
  <h1>Enter your info</h1>
  <p>A member of our team will get in touch soon</p>

  <form form method='Post'>

    <div class="form-field">
        <input name='nome' value='{{nomef}}' placeholder="Nome:"></input>
    </div>
    <div class="form-field">
        <input name='tel' value='{{telf}}' placeholder="Telefone:"></input>
    </div>
    <div class="form-field">
        <input name='email' value='{{emailf}}' placeholder="Email:"></input>
    </div>
    <button>Enviar</button>
  </form>
</div>
